<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
</head>
<body>
<script>

// This file can be dragged to any repo - where it should open any available README.md file
// needs showdown in top folder

	let protocol, usr, firstDot, path, localPath;

	protocol = location.protocol;

	if ( protocol === 'file:' ) {

		firstDot = location.pathname.indexOf( 'github.io' );
		usr = location.pathname.slice( 0, firstDot - 1 );
		usr = usr.slice( usr.lastIndexOf( '/' ) + 1 );

		path = location.pathname.slice( firstDot + 10, location.pathname.lastIndexOf( '/' )  );

	} else if ( protocol.includes( 'http' ) ) {

		firstDot = location.hostname.indexOf( '.github.io' );
		usr = location.hostname.slice( 0, firstDot );
		path = location.pathname.slice( 1, location.pathname.lastIndexOf( '/' )  );

	}

	localPath = path.replace( /-/g, '' ).replace( /\w+/g, '..' );

	window.location.href = localPath + '/index.html#' + path + '/README.md';

</script>
</body>
</html>
